.Tabbed {
    .tabs {
        display: flex;
        .tab{
            background-color: #ffffff;
            padding: 10px 30px;
            border-radius: 5px 5px 0px 0px;
            margin-right: 0px;
            color: black;
            font-size: 18px;
            border-bottom: solid 3px rgb(212, 212, 212);
            width: 50%;
            text-align: center;

            &.active {
                background-color: rgb(255, 255, 255);
                border-bottom: solid 3px red;
                font-weight: 600;
                width: 50%;
            }
        }
    }

.content {
        background-color: white;
        padding: 20px;
        color: black;
        text-align: left;
        
        img {width:45%;}
    }
}